{% extends 'food_base.html' %}

{% block title %}
<title>Foodie | Menu</title>
{% endblock %}

{% block content %}

<section class="menu-section">

    {% for x in fe_data %}
    <a href="/menu/{{ x.id }}">
        <div class="profile-card">

            <p><strong>Name:</strong> {{ x.name }}</p><br><br>

            <p><strong>Price:</strong> {{ x.price }}</p><br><br>

            <img src="{{ url_for('static', filename='images/' + x.image) }}" alt="{{ x.name }}">

            <p><strong>Image:</strong> {{ x.image }}</p><br><br>

            <p><strong>Description:</strong> {{ x.description }}</p><br><br>

            <p><strong>Category:</strong> {{ x.category }}</p><br><br>

        </div>
    </a>
    <br>
    {% endfor %}

</section>

{% endblock %}